@charset "UTF-8";
/*----------------------------------------------------------------------------------------*/
/*Обнуляємо параметри замовчуванням у браузерів*/
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
* {
  /* зірочка означає, що ми звертаємось до всіх тегів на сторінці*/
  padding: 0;
  /*обнуляємо внутрішні відступи*/
  margin: 0;
  /*обнуляємо зовнішні відступи*/
  border: 0;
  /*обнуляємо межі*/
}

*, *:before, *:after {
  /*змінюємо підрахунок ширини блоку для всіх тегів та тегів із псевдоелементами*/
  -webkit-box-sizing: border-box;
  /* "-webkit" означає apple*/
  box-sizing: border-box;
  /*Розмір боксу включає в себе всі відступи і будь-які межі. Контет буде зжиматись, щоб вмістить в боксі*/
  -moz-box-sizing: border-box;
  /* "-moz" означає firefox */
}

:focus, :active {
  outline: none;
}

/*забераємо лінії обводки в деяких браузерах підчас використання предпроцесів*/
a:focus, a:active {
  outline: none;
}

/*забераємо лінії обводки в деяких браузерах підчас використання передпроцесів на посиланнях*/
nav, footer, header, aside {
  display: block;
}

/*одразу надаємо кільком тегам HTML5 властивостей блоку*/
html, body {
  height: 100%;
  /*Вказуємо сайту займати всю висоту материського блоку - монітору*/
  width: 100%;
  /*Вказуємо сайту займати всю ширину материського блоку - монітору*/
  font-size: 100%;
  /*Розмір за замовчуванням має 100% від вказаного розміру*/
  line-height: 1;
  /*Міжрядковий інтервал дорівнює ширині шрифта*/
  font-size: 14px;
  /*Розмір шрифта за замовчуванням 14 пікселів. Класіка.*/
  -ms-text-size-adjust: 100%;
  /* "-ms" значить microsoft (не даємо браузеру самовільно змінювати розмір шрифта) */
  -moz-text-size-adjust: 100%;
  /* "-moz" означає firefox (не даємо браузеру самовільно змінювати розмір шрифта)*/
  -webkit-text-size-adjust: 100%;
  /* "-webkit" означає apple (не даємо айфонам самовільно змінювати розмір шрифта)*/
}

input, button, textarea {
  font-family: inherit;
}

/*Звертаємось до тегів форм і просимо їх наслідувати сімейство шрифта*/
input::-ms-clear {
  display: none;
}

/*Заберає заданий автоматично стиль кнопки "очистити текстове поле". Спочатку ця кнопка невидима і 
з'являється у правій частині поля лише підчас введення тексту. Браузер Internet Explorer& Edge.*/
button {
  cursor: pointer;
}

/*Задаємо стиль курсору підчас наведеня на кнопку*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*Забираємо зайві відступи та пробели навкруги кнопок в браузері Firefox.*/
a, a:visited {
  text-decoration: none;
}

/*Відвідані посилання не змінюються*/
a:hover {
  text-decoration: none;
}

/*Посилання при наведенні не змінюються*/
ul li {
  list-style: none;
}

/*Видаляємо стилі списків*/
img {
  vertical-align: top;
}

/*Встановлюємо за замовчуванням вертикальне позиціонування тегу картинки*/
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
}

/*Обнуляємо стилі заголовку та вказуємо наслідувати сімейство шрифта*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*Підключення файлу зі шрифтами*/
/*Підключаємо необхідні шрифти*/
/*Родина шрифтів осовного тексту*/
/*Родина шрифтів заголовку*/
@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/*----------------------------------------------------------------------------------------*/
/*general scss*/
body {
  font-family: Poppins;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  font-family: CalSans;
  font-style: normal;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.2;
  color: #121212;
  text-align: center;
  padding: 60px 0 0 0;
}

.section__title span {
  color: #FF6428;
}

@media (max-width: 950px) {
  .section__title {
    font-size: 36px;
    padding: 50px 0 0 0;
  }
}

@media (max-width: 840px) {
  .section__title {
    font-size: 32px;
    padding: 40px 0 0 0;
  }
}

@media (max-width: 400px) {
  .section__title {
    font-size: 28px;
    padding: 30px 0 0 0;
  }
}

/*header / menu scss*/
.header {
  z-index: 10;
  padding: 60px 0 0 0;
}

@media (max-width: 950px) {
  .header {
    padding: 30px 0 0 0;
  }
}

@media (max-width: 800px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
}

.header__container {
  min-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}

@media (max-width: 800px) {
  .header__container {
    padding: 0 30px;
  }
}

.header__logo {
  position: relative;
  top: 0;
  left: 0;
  font-family: CalSans;
  color: #121212;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  z-index: 10;
}

.header__logo::before {
  content: '';
  background: url("../img/header/sitelogo.svg") left/35px 35px no-repeat;
  padding: 20px 47px 20px 0px;
}

@media (max-width: 800px) {
  .header__logo::before {
    background: url("../img/header/decor_tiny.svg") left/35px 35px no-repeat;
    padding: 20px 47px 15px 0px;
  }
}

.menu__icon {
  display: none;
}

.menu__list > li {
  margin: 0;
  position: relative;
  margin: 0 0 0 56px;
}

@media (max-width: 950px) {
  .menu__list > li {
    margin: 0 16px 0 0px;
  }
}

@media (min-width: 800px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

.menu__link {
  color: rgba(18, 18, 18, 0.4);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.menu__link:hover {
  color: #FF6428;
}

/*Property to have a drop-down menu*/
body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._lock {
  overflow: hidden;
}

@media (max-width: 800px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after {
    content: '';
  }
  .menu__icon::before, .menu__icon span, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: -100%;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: right 0.5s ease 0s, top 0.5s ease 0s;
    transition: right 0.5s ease 0s, top 0.5s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #FF6428;
    z-index: 2;
  }
  .menu__body._active {
    top: 0;
    right: 0;
  }
  .menu__list > li {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0px;
  }
  .menu__link {
    text-align: center;
    font-size: 24px;
    color: white;
  }
}

/*section fullscreen scss*/
.fullscreen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fullscreen__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 840px) {
  .fullscreen__column {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 400px) {
  .fullscreen__column:last-child {
    display: none;
  }
}

.fullscreen__content {
  padding-top: 25px;
}

@media (max-width: 400px) {
  .fullscreen__content {
    padding-top: 95px;
  }
}

.fullscreen__title {
  font-family: CalSans;
  font-style: normal;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
  color: #121212;
  max-width: 470px;
}

.fullscreen__title span {
  color: #FF6428;
}

@media (max-width: 950px) {
  .fullscreen__title {
    font-size: 48px;
    max-width: 400px;
  }
}

@media (max-width: 840px) {
  .fullscreen__title {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .fullscreen__title {
    font-size: 32px;
    max-width: 100%;
  }
}

.fullscreen__text {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
  max-width: 400px;
}

@media (max-width: 840px) {
  .fullscreen__text {
    font-size: 14px;
    max-width: 350px;
  }
}

.fullscreen__action {
  margin: 33px 0 0 0;
  padding-bottom: 100px;
  max-width: 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 840px) {
  .fullscreen__action {
    padding-bottom: 60px;
  }
}

.fullscreen__decor {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(47px, 0px);
          transform: translate(47px, 0px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  .fullscreen__decor {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.action-fullscreen__button {
  background-color: #FF6428;
  width: 192px;
  height: 60px;
  border-radius: 40px;
  color: #ffffff;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #219621), to(#32CD32));
  background-image: linear-gradient(to top, transparent, transparent 50%, #219621 50%, #32CD32);
  background-position: 0 100%;
  background-size: 100% 200%;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  margin-right: 10px;
}

.action-fullscreen__button:hover {
  background-position: 0 0;
  color: #fff;
}

.action-fullscreen__icon {
  margin-left: 30px;
}

.action-fullscreen__icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 336px) {
  .action-fullscreen__icon {
    display: none;
  }
}

.decor-fullscreen__tiny {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media (max-width: 840px) {
  .decor-fullscreen__tiny {
    display: none;
  }
}

/*section store scss*/
.store__chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0 0 0;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 980px) {
  .store__chapter {
    margin: 40px 0 0 0;
  }
}

@media (max-width: 500px) {
  .store__chapter {
    font-size: 14px;
  }
}

.store .content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 740px) {
  .store .content__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 400px) {
  .store .content__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.store .content__row_hide {
  display: none;
}

.store .content__row_hide._all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 400px) {
  .store .content__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.store .content__item_img {
  margin: 32px 0 0 0;
}

@media (max-width: 1100px) {
  .store .content__item_img {
    width: 300px;
  }
}

@media (max-width: 980px) {
  .store .content__item_img {
    width: 230px;
    margin: 16px 0 0 0;
  }
}

@media (max-width: 740px) {
  .store .content__item_img {
    width: auto;
  }
}

@media (max-width: 400px) {
  .store .content__item_img {
    max-width: 85%;
    margin: 0 auto;
  }
}

.store .content__item_title {
  margin: 40px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121212;
}

@media (max-width: 740px) {
  .store .content__item_title {
    margin: 20px 0 0 0;
  }
}

.store .content__item_price {
  margin: 7px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

.chapter__name {
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #121212;
}

.chapter__more {
  font-weight: 500;
  color: #868686;
}

.chapter__more:hover {
  text-decoration: underline;
}

.chapter__more._less {
  color: #FF6428;
  text-decoration: underline;
}

/*section categories scss*/
.categories .section__title {
  margin-top: 60px;
}

@media (max-width: 1005px) {
  .categories .section__title {
    margin-top: 0px;
  }
}

.categories__body {
  padding-top: 80px;
}

@media (max-width: 1005px) {
  .categories__body {
    padding-top: 60px;
  }
}

@media (max-width: 905px) {
  .categories__body {
    padding-top: 40px;
  }
}

@media (max-width: 805px) {
  .categories__body {
    padding-top: 25px;
  }
}

.categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__column {
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width: 1005px) {
  .categories__column {
    margin: 25px 55px;
  }
}

@media (max-width: 700px) {
  .categories__column {
    margin: 15px;
  }
}

.categories__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__text {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0 0 30px 0px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  z-index: 5;
  width: 100%;
}

.categories__img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.categories__img img {
  max-width: 100%;
}

.categories__img::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0.16)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.categories__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*section brands scss*/
.brands .section__title {
  margin: 160px 0 0 0;
}

@media (max-width: 950px) {
  .brands .section__title {
    padding: 100px 0 0 0;
  }
}

@media (max-width: 840px) {
  .brands .section__title {
    padding: 50px 0 0 0;
  }
}

@media (max-width: 400px) {
  .brands .section__title {
    padding: 30px 0 0 0;
  }
}

.brands__body {
  padding: 75px 0 0 0;
}

@media (max-width: 950px) {
  .brands__body {
    padding: 55px 0 0 0;
  }
}

@media (max-width: 840px) {
  .brands__body {
    padding: 30px 0 0 0;
  }
}

@media (max-width: 400px) {
  .brands__body {
    padding: 15px 0 0 0;
  }
}

.brands__items {
  max-width: 1020px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 80px;
}

@media (max-width: 800px) {
  .brands__items {
    row-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

.brands__item img {
  max-width: 100%;
}

@media (max-width: 800px) {
  .brands__item {
    margin: 15px 0;
  }
}

/*section about scss*/
.about {
  background: #121212;
  min-width: 100vw;
}

.about .section__title {
  color: #FFFFFF;
  margin: 180px 0 0 0;
  padding: 90px 0 0 0;
}

@media (max-width: 950px) {
  .about .section__title {
    margin: 100px 0 0 0;
    padding: 70px 0 0 0;
  }
}

@media (max-width: 840px) {
  .about .section__title {
    margin: 90px 0 0 0;
    padding: 50px 0 0 0;
  }
}

@media (max-width: 400px) {
  .about .section__title {
    margin: 70px 0 0 0;
    padding: 30px 0 0 0;
  }
}

.about__body {
  margin: 75px 0 0 0;
  padding-bottom: 95px;
}

@media (max-width: 950px) {
  .about__body {
    margin: 65px 0 0 0;
    padding-bottom: 75px;
  }
}

@media (max-width: 840px) {
  .about__body {
    margin: 55px 0 0 0;
    padding-bottom: 65px;
  }
}

@media (max-width: 400px) {
  .about__body {
    margin: 35px 0 0 0;
    padding-bottom: 25px;
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 700px) {
  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__column {
  width: 230px;
}

@media (max-width: 700px) {
  .about__column {
    margin: 25px 50px;
  }
}

.about__item {
  text-align: center;
}

.about__item_img {
  margin: 0 auto;
  background: #262626;
  border-radius: 20px;
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item_title {
  margin-top: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about__item_text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #666666;
}

/*section customers scss*/
.customers .section__title {
  margin: 180px 0 0 0;
  padding: 0 0 110px 0;
}

@media (max-width: 950px) {
  .customers .section__title {
    margin: 120px 0 0 0;
    padding: 0 0 80px 0;
  }
}

@media (max-width: 840px) {
  .customers .section__title {
    margin: 100px 0 0 0;
    padding: 0 0 40px 0;
  }
}

@media (max-width: 400px) {
  .customers .section__title {
    margin: 80px 0 0 0;
    padding: 0 0 15px 0;
  }
}

.swiper__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.swiper__pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #C4C4C4;
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  height: 16px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper__pagination .swiper-pagination-bullet-active {
  background: #FF6428;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slide__picture {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1080px) {
  .slide__picture {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 10px;
  }
}

@media (max-width: 900px) {
  .slide__picture {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 35px 0px;
  }
}

.slide__image {
  width: 320px;
  height: 320px;
  position: relative;
}

@media (max-width: 900px) {
  .slide__image {
    width: 250px;
    height: 250px;
  }
}

.slide__image::before {
  content: "";
  position: absolute;
  width: 285px;
  height: 257px;
  top: 50px;
  left: -80px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: #FF6428;
  border-radius: 40px 0px 400px 400px;
}

@media (max-width: 900px) {
  .slide__image::before {
    width: 215px;
    height: 187px;
  }
}

.slide__image img {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: center;
     object-fit: center;
}

.slide__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.slide__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  color: #666666;
  margin-bottom: 56px;
}

@media (max-width: 1080px) {
  .slide__text {
    font-size: 20px;
    padding-left: 10px;
  }
}

@media (max-width: 900px) {
  .slide__text {
    font-size: 16px;
    padding: 0px 0px 35px 0px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .slide__author {
    text-align: end;
    margin-bottom: 45px;
  }
}

.slide__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  color: #000000;
}

@media (max-width: 900px) {
  .slide__name {
    font-size: 16px;
  }
}

.slide__proff {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #868686;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .slide__proff {
    font-size: 10px;
  }
}

/*section app scss*/
.app .section__title {
  max-width: 484px;
  text-align: left;
}

@media (max-width: 750px) {
  .app .section__title {
    text-align: center;
  }
}

.app__item {
  margin-top: 60px;
}

@media (max-width: 950px) {
  .app__item {
    margin-top: 50px;
  }
}

@media (max-width: 840px) {
  .app__item {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  .app__item {
    margin-top: 30px;
  }
}

.app__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .app__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 840px) {
  .app__row {
    margin-top: 140px;
  }
}

@media (max-width: 600px) {
  .app__row {
    margin-top: 80px;
  }
}

.app__picture {
  margin-right: 26px;
}

@media (max-width: 750px) {
  .app__picture {
    margin-right: 0px;
  }
}

.app__picture img {
  max-width: 100%;
}

@media (max-width: 999px) {
  .app__picture img:last-child {
    margin-top: 15px;
  }
}

.app__image img {
  max-width: 100%;
}

/*section footer scss*/
.footer {
  max-width: 100%;
  background: #EEEEEE;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(18, 18, 18, 0.6);
}

.footer a {
  color: rgba(18, 18, 18, 0.6);
}

.footer .header__logo {
  color: #121212;
  font-size: 40px;
  line-height: 1.2;
  z-index: 1;
}

.footer .header__logo::before {
  padding: 20px 50px 15px 0px;
}

@media (max-width: 800px) {
  .footer .header__logo::before {
    background: url("../img/header/sitelogo.svg") left/35px 35px no-repeat;
  }
}

.footer__content {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 950px) {
  .footer__content {
    margin: 50px 0;
  }
}

@media (max-width: 845px) {
  .footer__content {
    margin: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 400px) {
  .footer__content {
    margin: 30px 0;
  }
}

.footer__body {
  max-width: 100%;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.footer__column {
  margin-right: 120px;
}

.footer__column:last-child {
  margin-right: 0px;
  margin-left: 65px;
}

@media (max-width: 998px) {
  .footer__column {
    margin-right: 100px;
  }
  .footer__column:last-child {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 620px) {
  .footer__column {
    display: none;
  }
  .footer__column:last-child {
    display: block;
    text-align: center;
  }
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #121212;
}

.footer__list li {
  margin-top: 16px;
}

.footer__list li:first-child {
  margin-top: 20px;
}

.footer__list_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list_social li {
  margin-top: 20px;
  margin-right: 32px;
}

@media (max-width: 620px) {
  .footer__list_social li {
    margin: 20px 25px 0;
  }
}

.footer__link img {
  width: 32px;
  height: 32px;
}

.footer__link:hover {
  color: #FF6428;
  text-decoration: underline;
}

.footer__year {
  text-align: center;
  margin-bottom: 45px;
}

@media (max-width: 950px) {
  .footer__year {
    margin-bottom: 35px;
  }
}

@media (max-width: 840px) {
  .footer__year {
    margin-bottom: 25px;
  }
}

@media (max-width: 400px) {
  .footer__year {
    margin-bottom: 15px;
  }
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 850px) {
  .body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
}

@media (max-width: 620px) {
  .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body__email {
  margin-top: 28px;
}

@media (max-width: 850px) {
  .body__email {
    margin-top: 5px;
    margin-left: 30px;
  }
}

@media (max-width: 620px) {
  .body__email {
    margin: 15px 0 0;
  }
}

.body__email::before {
  content: '';
  background: url("../img/footer/sms.svg") left/24px 24px no-repeat;
  padding: 10px 35px 12px 0px;
}

.body__email:hover {
  color: #FF6428;
  text-decoration: underline;
}

.body__location {
  margin-top: 20px;
}

@media (max-width: 850px) {
  .body__location {
    margin-top: 5px;
    margin-left: 10px;
  }
}

@media (max-width: 620px) {
  .body__location {
    margin: 15px 0 0;
  }
}

.body__location::before {
  content: '';
  background: url("../img/footer/location.svg") left/24px 24px no-repeat;
  padding: 10px 35px 12px 0px;
}

.body__location:hover {
  color: #FF6428;
  text-decoration: underline;
}

/* The end, be happy :) */
