/*Обнуляємо параметри замовчуванням у браузерів*/

*{ /* зірочка означає, що ми звертаємось до всіх тегів на сторінці*/
	padding: 0; /*обнуляємо внутрішні відступи*/
	margin: 0; /*обнуляємо зовнішні відступи*/
	border: 0; /*обнуляємо межі*/
}

*,*:before,*:after{  /*змінюємо підрахунок ширини блоку для всіх тегів та тегів із псевдоелементами*/
	-webkit-box-sizing:border-box;/* "-webkit" означає apple*/
	box-sizing: border-box; /*Розмір боксу включає в себе всі відступи і будь-які межі. Контет буде зжиматись, щоб вмістить в боксі*/
	-moz-box-sizing:border-box; /* "-moz" означає firefox */
}

:focus,:active{outline: none;} /*забераємо лінії обводки в деяких браузерах підчас використання предпроцесів*/
a:focus,a:active{outline: none;} /*забераємо лінії обводки в деяких браузерах підчас використання передпроцесів на посиланнях*/

nav,footer,header,aside{display: block;} /*одразу надаємо кільком тегам HTML5 властивостей блоку*/

html,body{
	height: 100%; /*Вказуємо сайту займати всю висоту материського блоку - монітору*/
	width: 100%; /*Вказуємо сайту займати всю ширину материського блоку - монітору*/
	font-size: 100%; /*Розмір за замовчуванням має 100% від вказаного розміру*/
	line-height: 1; /*Міжрядковий інтервал дорівнює ширині шрифта*/
	font-size: 14px; /*Розмір шрифта за замовчуванням 14 пікселів. Класіка.*/
	-ms-text-size-adjust: 100%; /* "-ms" значить microsoft (не даємо браузеру самовільно змінювати розмір шрифта) */
	-moz-text-size-adjust: 100%; /* "-moz" означає firefox (не даємо браузеру самовільно змінювати розмір шрифта)*/
	-webkit-text-size-adjust: 100%; /* "-webkit" означає apple (не даємо айфонам самовільно змінювати розмір шрифта)*/
}

input,button,textarea{font-family: inherit;} /*Звертаємось до тегів форм і просимо їх наслідувати сімейство шрифта*/

input::-ms-clear{display: none;} /*Заберає заданий автоматично стиль кнопки "очистити текстове поле". Спочатку ця кнопка невидима і 
з'являється у правій частині поля лише підчас введення тексту. Браузер Internet Explorer& Edge.*/
button{cursor: pointer;} /*Задаємо стиль курсору підчас наведеня на кнопку*/
button::-moz-focus-inner{padding: 0;border: 0;} /*Забираємо зайві відступи та пробели навкруги кнопок в браузері Firefox.*/
a,a:visited{text-decoration: none;} /*Відвідані посилання не змінюються*/
a:hover{text-decoration: none;} /*Посилання при наведенні не змінюються*/
ul li {list-style: none;} /*Видаляємо стилі списків*/
img{vertical-align: top;} /*Встановлюємо за замовчуванням вертикальне позиціонування тегу картинки*/
h1,h2,h3,h4,h5,h6{font-family: inherit; font-weight: 400;}	/*Обнуляємо стилі заголовку та вказуємо наслідувати сімейство шрифта*/

/*------------------------------------------------------------------------------------------------------------------------------*/
